* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pop: #ffa600;
  --bg: #111111;
  --text: #999999;
  --card-bg: #2d2d2d;
  --border: #393434;
}

body {
  font-family: 'Inter', sans-serif;
  background: var(--bg);
  color: var(--text);
}

html {
  scroll-behavior: smooth;
}

.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.fade-in.visible{
  opacity: 1;
  transform: translateY(0px);
}

/* NAVBAR */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  position: sticky;
  top: 0;
  background: #111111;
  z-index: 100;
  border-bottom: 1px solid var(--border);
}

.nav-name {
  color: white;
  font-size: 18px;
  font-weight: 700;
  transition: color 0.3s, opacity 0.3s;
  text-decoration: none;
}

.nav-name:hover {
  color: var(--pop);
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 32px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: var(--pop);
}

/* HERO */
#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 120px 20px;
  gap: 16px;
}

#hero h1 {
  font-size: 56px;
  font-weight: 800;
  color: white;
}

#hero h2 {
  font-size: 32px;
  font-weight: 700;
}

.tagline {
  font-size: 16px;
  color: var(--text);
}

.pop {
  color: var(--pop);
}

.btn {
  margin-top: 8px;
  padding: 12px 28px;
  background: var(--pop);
  color: black;
  font-weight: 700;
  border-radius: 8px;
  text-decoration: none;
  transition: opacity 0.3s;
}

.btn:hover {
  opacity: 0.85;
}
/* ABOUT ME */
#about {
  padding: 80px 20px;
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}

#about h2 {
  font-size: 32px;
  font-weight: 800;
  color: white;
  margin-bottom: 24px;
}

#about p {
  font-size: 16px;
  line-height: 1.8;
  color: var(--text);
}

/* SKILLS */
#skills {
  padding: 80px 60px;
  text-align: center;
}

#skills h2, #projects h2, #contact h2 {
  font-size: 32px;
  font-weight: 800;
  color: white;
  margin-bottom: 40px;
}

.skills-grid {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}

.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 30px;
  width: 120px;
  border-radius: 12px;
  border: 1px solid var(--border);
  background: var(--card-bg);
  transition: box-shadow 0.3s, border-color 0.3s, transform 0.3s;
  cursor: pointer;
}

.skill-card:hover {
  border-color: var(--pop);
  transform: translateY(-15px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}

.skill-card p {
  color: var(--text);
  font-size: 13px;
}

.skill-card i {
  font-size: 60px;
}

/* PROJECTS */
#projects {
  padding: 80px 60px;
  text-align: center;
}

.projects-grid {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}

.project-card {
  background: var(--card-bg);
  border: 1px solid var(--border);
  border-radius: 12px;
  padding: 32px;
  width: 350px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 12px;
  transition: border-color 0.3s, transform 0.3s;
}

.project-card:hover {
  border-color: var(--pop);
  transform: translateY(-8px);
}

.project-card h3 {
  color: white;
  font-size: 18px;
}

.project-card p {
  color: var(--text);
  font-size: 14px;
}

.btn-small {
  padding: 8px 16px;
  background: var(--pop);
  color: black;
  font-weight: 700;
  border-radius: 6px;
  text-decoration: none;
  font-size: 13px;
  align-self: flex-start;
  transition: opacity 0.3s;
}

.btn-small:hover {
  opacity: 0.70;
}

/* CONTACT */
#contact {
  padding: 80px 60px;
  text-align: center;
}

.contact-links {
  display: flex;
  justify-content: center;
  gap: 16px;
}